@model PedidoViewModel

<h1>Nome: @Model.ItemPedido.Nome</h1>

@if (Model.ItemPedido.ItensDoPedido != null)
{
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model.ItemPedido.ItensDoPedido)
            {
                <tr>
                    <td>@produto.Produto.Nome</td>
                    <td>@produto.Produto.Preco</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum item encontrado no pedido.</p>
}